@page "/pokedex"
@if (pokemons == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="pokegrid">
        @foreach (var pokemon in pokemons)
        {
            <PokeCard Id="@(pokemon.Id)"
                      Name="@pokemon.Name"
                      Type="@pokemon.Type"
                      ImageUrl="@pokemon.ImageUrl" />
        }
    </div>
}