@page "/pokedex"
@using PKure.Components.Widgets

@if (pokemons == null)
{
    <p>Cargando...</p>
}
else
{
    <div class="pokegrid">
        @foreach (var pokemon in pokemons)
        {
            <PokeCard Pokemon="pokemon" OnClick="OnPokemonSelected" />
        }
    </div>

    @if (SelectedPokemon != null)
    {
        <div class="pokemon-detail">
            <PokemonDetails Pokemon="SelectedPokemon" />
        </div>
    }
}