<div class="poke-card">
    <img src="@ImageUrl" alt="@Name" />
    <h3>@Name</h3>
    <p>Tipo: @Type</p>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }
}