@page "/pokedex"
@using PKure.Components.Widgets

<div class="pokegrid">
    <div class="pokemon-cards">
        @if (pokemons == null)
        {
            <p>Cargando...</p>
        }
        else
        {
            @foreach (var pokemon in pokemons)
            {
                <PokeCard Pokemon="pokemon"
                          OnClick="OnPokemonSelected"
                          IsSelected="@(SelectedPokemon?.Id == pokemon.Id)" />
            }
        }
    </div>

    @if (SelectedPokemon != null)
    {
        <div class="pokemon-detail fixed-detail">
            <PokemonDetails Pokemon="SelectedPokemon" OnClose="CloseDetails" />
        </div>
    }
</div>
