<div class="poke-card">
    <img src="@ImageUrl" alt="@Name" />
    <h3>@Name</h3>
    <p>Tipo: @Type</p>
</div>

@code {
    [Parameter]
    public string Name { get; set; }

    [Parameter]
    public string Type { get; set; }

    [Parameter]
    public string ImageUrl { get; set; }
}

<style>
    .poke-card {
        background-color: var(--color-base-100);
        border: var(--border) solid var(--color-base-300);
        border-radius: 15px;
        box-shadow: var(--shadow-inner);
        padding: 20px;
        text-align: center;
        transition: transform 0.3s ease;
    }

        .poke-card:hover {
            transform: translateY(-5px);
        }

        .poke-card img {
            width: 100%;
            max-width: 150px;
            border-radius: 10px;
            margin-bottom: 10px;
        }

        .poke-card h3 {
            margin-bottom: 5px;
            font-size: 20px;
        }

        .poke-card p {
            margin: 0;
            font-size: 16px;
            color: var(--color-base-200-text);
        }
</style>