@using PKure.Models.ViewModel

<div @onclick="HandleClick" class="poke-card">
    <img src="@Pokemon.ImageUrl" alt="@Pokemon.Name" />
    <h3>@Pokemon.Name</h3>
    <p>Tipo: @Pokemon.Type</p>
</div>

@code {
    [Parameter]
    public PokemonViewModel Pokemon { get; set; }

    [Parameter]
    public EventCallback<PokemonViewModel> OnClick { get; set; }

    private async Task HandleClick()
    {
        await OnClick.InvokeAsync(Pokemon);
    }
}