.poke-card {
    background-color: var(--color-base-100);
    border: var(--border) solid var(--color-base-300);
    border-radius: 15px;
    box-shadow: var(--shadow-inner);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s ease;
}

    .poke-card:hover {
        transform: translateY(-5px);
    }

    .poke-card img {
        width: 100%;
        max-width: 150px;
        border-radius: 10px;
        margin-bottom: 10px;
    }

    .poke-card h3 {
        margin-bottom: 5px;
        font-size: 20px;
    }

    .poke-card p {
        margin: 0;
        font-size: 16px;
        color: var(--color-base-200-text);
    }

.selected {
    border: 2px solid var(--color-accent);
    box-shadow: var(--shadow-action-neon);
}

.type-icon-container {
    position: relative;
    display: inline-block;
    margin: 5px;
    justify-content: center;
}

.type-icons {
    display: flex;
    justify-content: center;
    gap: 5px;
    margin-top: 10px;
}

    .type-icons .type-icon {
        height: 20px;
        object-fit: scale-down;
    }

.type-card {
    width: 100px;
    height: 25px;
    display: none;
    align-items: center;
    justify-content: center;
    color: white;
    border-radius: 5px;
    font-weight: bold;
    text-transform: capitalize;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    text-align: center;
}