<Router AppAssembly="@typeof(App).Assembly">
    <Found Context="routeData">
        <RouteView RouteData="@routeData" DefaultLayout="@typeof(Layout.MainLayout)"/>
    </Found>
    <NotFound>
		<LayoutView Layout="@typeof(Layout.MainLayout)">
			<p style="color: var(--color-base-200-text)">Sorry, there's nothing at this address.</p>
            <br />
			<PKzen.Components.Pages.Pokedex />
		</LayoutView>
    </NotFound>
</Router>