/* Contenedor principal */
.container {
    display: flex;
    flex-direction: column;
    height: 100vh;
}

/* Navbar superior */
.navbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 17px;
}

.logo {
    font-weight: bold;
    font-size: 24px;
    display: flex;
    align-items: center;
    gap: 12px;
}

/* Contenedor del menú horizontal */
.menu-container {
    background-color: var(--color-base-100);
    border-radius: 35px;
    padding: 10px 15px;
    border: var(--border) solid var(--color-base-300);
    margin-left: 35px;
}

.navbar-menu {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 25px;
    margin: 0;
    padding: 0;
    align-items: center;
}

    .navbar-menu li {
        cursor: pointer;
        padding: 8px 0;
        position: relative;
    }

        .navbar-menu li a {
            display: flex;
            align-items: center;
            text-decoration: none;
        }

            .navbar-menu li a svg {
                width: 25px;
                height: 25px;
                color: var(--color-base-200-text);
                transition: color 0.3s ease;
            }

        .navbar-menu li.active a svg {
            color: var(--color-accent);
        }

        .navbar-menu li:hover a svg {
            color: var(--color-base-100-text);
        }

/* Área principal */
.main-wrapper {
    flex: 1;
    padding: 20px;
}
